:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Colors */
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-txt-color: #404bbf;
  --accent-bg-color: #404bbf;
  --light-txt-cl: #ffffff;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-nav {
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logotype {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.header-nav-list {
}
.header-nav-item {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.header-address {
}
.header-address-list {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.header-address-mail {
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
}
.hero-title {
}
.hero-btn {
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-title {
}
.benefits-desc {
}

/**
  |============================
  | About styles
  |============================
*/

.about {
}
.about-title {
}
.about-list {
}
.about-item {
}
.about-img {
}

/**
  |============================
  | Team styles
  |============================
*/

.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-subtitle {
}
.team-desc {
}

/**
  |============================
  | Filters styles
  |============================
*/

.filters {
}
.filters-list {
}
.filters-item {
}
.filters-btn {
}

/**
  |============================
  | Projects styles
  |============================
*/

.projects {
}
.projects-list {
}
.projects-item {
}
.projects-link {
}
.projects-img {
}
.projects-title {
}
.projects-subtitle {
}

/**
  |============================
  | Foter styles
  |============================
*/

.footer {
}
.footer-logo {
}
.footer-desc {
}
